In [2]:
import pandas as pd
import numpy as np
import requests
import io
import re
import datetime

from bokeh.plotting import figure,show

In [3]:
def func_extract_info(function_call,symbol,datatype):
    df_1=pd.DataFrame([])
    for i in range(len(symbol)):
        url= 'https://www.alphavantage.co/query?function={}&symbol={}&datatype={}&apikey=D2L2TRRTVX26H02F'.format(function_call,symbol[i],datatype)
        r=requests.get(url=url)
        data=io.StringIO(r.text)
        df=pd.read_csv(data)
        df['Symbol']=symbol[i]
        df['timestamp']=pd.to_datetime(df['timestamp'])
        df_1=pd.concat([df_1,df])
    return df_1

df_stock=func_extract_info(function_call='TIME_SERIES_DAILY',symbol=['BMY','PFE','GOOG','AAPL','AZN','GILD','AMGN','NVS'],datatype='csv')

In [4]:
df_stock.sort_values(by=['Symbol','timestamp'],inplace=True)

In [ ]:
#df_stock=pd.read_csv('stock_data\df_stock.csv',index_col=0)

In [5]:
df_stock.reset_index(inplace=True)

In [6]:
df_stock_rolling=df_stock.groupby(by='Symbol')['close'].rolling(2).mean().round(2)

In [7]:
df_stock_rolling.reset_index(drop=True,inplace=True)

In [8]:
df_test=pd.merge(left=df_stock,right=df_stock_rolling,left_index=True,right_index=True,suffixes=('','_rolling'))

In [9]:
df_stock[df_test['Symbol']=='AAPL']

    index  timestamp     open    high      low   close    volume Symbol
0      99 2024-04-17  169.610  170.65  168.000  168.00  50901210   AAPL
1      98 2024-04-18  168.030  168.64  166.550  167.04  43122903   AAPL
2      97 2024-04-19  166.210  166.40  164.075  165.00  68149377   AAPL
3      96 2024-04-22  165.515  167.26  164.770  165.84  48116443   AAPL
4      95 2024-04-23  165.350  167.05  164.920  166.90  49537761   AAPL
..    ...        ...      ...     ...      ...     ...       ...    ...
95      4 2024-09-03  228.550  229.00  221.170  222.77  50190574   AAPL
96      3 2024-09-04  221.660  221.78  217.480  220.85  43262758   AAPL
97      2 2024-09-05  221.625  225.48  221.520  222.38  36615398   AAPL
98      1 2024-09-06  223.950  225.24  219.770  220.82  48423011   AAPL
99      0 2024-09-09  220.820  221.27  216.710  220.91  67179965   AAPL

[100 rows x 8 columns]